body {
    font-family: Arial, sans-serif;
    background-color: rgb(193, 241, 241);
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: rgb(182, 182, 182);
    border: 1px solid #737373;
    border-radius: 20px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    padding: 40px;
    max-width: 400px;
    width: 90%;
    text-align: center;
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #000000;
}

button {
    background-color: #686868;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #555;
}

button:focus {
    outline: none;
}

button:active {
    transform: translateY(1px);
}

/* Media query for smaller screens */
@media screen and (max-width: 768px) {
    .container {
        padding: 20px;
    }

    h1 {
        font-size: 20px;
    }

    button {
        width: 100%;
    }
}